@model List<TeacherViewMoodel>

@{
    ViewData["Title"] = "Всички Учители";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="text-center row">
    @foreach (var teacher in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">
                <p class="mb-0">Първо име: @teacher.FirstName</p>
                <p class="mb-0">Фамилия: @teacher.LastName</p>
                <p class="mb-0">Предмет: @teacher.Discipline</p>
                @if (teacher.IsPrincipal == true)
                {
                    <p>Директор ли е? - Да</p>
                }
                else
                {
                    <p>Директор ли е? - Не</p>
                }
                @if (User.IsInRole("Admin"))
                {
                    <form class="input-group-sm" asp-route-teacherId="@teacher.Id" asp-controller="Teacher" asp-action="BecomePrincipal" method="post">
                        <input type="submit" value="Директор" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>
                 
                }

            </div>
        </div>
    }

</div>